<% @posts_by_month.each do |monthname, posts| %>

<%# this displays the month name, and the clear left is so it goes to a new line%>
<div style="clear:left"><h2><%= monthname %></h2></div>


   <% for post in posts %>
     
     <div style="float:left;width:33%">  

    <ol class="posts">


      <% if post.status == 'new' %>
      <div class="new-post">
       <%= link_to edit_post_path(post) do %>
       <%= render post %>
       <% end %>
     </div>

     <% else %>
     <div class="edited-post">
      <%= link_to post_path(post) do %>
      <%= render post %>
      <% end %>
    </div>
    <% end %>

  </ol>

     </div>

   <% end %>

<% end %>