
<%# if no posts exist%>
<% if current_user.no_posts? && !current_user.admin? %>
<h2>Posts will be generated automatically daily from the start date you entered.
<br>Your start date is <%= current_user.start_date %>
</h2>

<%# if posts exist %>
<% else %>

<% @posts_by_month.each do |monthname, posts| %>

<%# this displays the month name, and the clear left is so it goes to a new line%>
<div style="clear:left"><h2><%= monthname %></h2></div>


   <% for post in posts %>
     <% post.content = truncate(post.content, length: 42) %>
     <div style="float:left;width:33%">  

    <ol class="posts">


      <% if post.status == 'new' %>
      <div class="new-post">
       <%= link_to edit_post_path(post) do %>
       <%= render post %>
       <% end %>
     </div>

     <% else %>
     <div class="edited-post">
      <%= link_to post_path(post) do %>
      <%= render post %>
      <% end %>
    </div>
    <% end %>

  </ol>

     </div>

   <% end %>

<% end %>

<% end %>